<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywmobile.messenger.dao.SmsDao">
	<!--
	┌───────────────────────────────────────────────────────────────────────────────────────────┐
	│	Sms 전송 : SC_TRAN																		│
	└───────────────────────────────────────────────────────────────────────────────────────────┘
	-->

	<!--giangbb 11 April 2019 fix bug query SC_TRAN doesn't exist-->
	<insert id="insertSms" parameterType="map">
		INSERT INTO messenger.SC_TRAN(
			TR_SENDDATE
			, TR_SENDSTAT
			, TR_MSGTYPE
			, TR_PHONE
			, TR_CALLBACK
			, TR_MSG
		) VALUES
		<foreach collection="phoneNos" item="element" index="idx" separator=",">
		(
			str_to_date(#{sendDate}, '%Y-%m-%d %H:%i:%s')
			, '0'
			, '0'
			, #{element}
			, #{callBackNo}
			, #{msg}
		)
		</foreach>
	</insert>

	<!--giangbb 11 April 2019 fix bug query MMS_MSG doesn't exist-->
	<insert id="insertMms" parameterType="map">
		insert into messenger.MMS_MSG(
		  SUBJECT
		  , PHONE
		  , CALLBACK
		  , STATUS
		  , REQDATE
		  , MSG
		  , FILE_CNT
		  , TYPE
		) values
		<foreach collection="phoneNos" item="element" index="idx" separator=",">
		(
		  ''
		  , #{element}
		  , #{callBackNo}
		  , '0'
		  , str_to_date(#{sendDate}, '%Y-%m-%d %H:%i:%s')
		  , #{msg}
		  , 0
		  , '0'
		)
		</foreach>
	</insert>

	<insert id="insertSmsByBGF">
		insert into bgf_agent.MSG_QUEUE (
			dstaddr,
			callback,
			text,
			insert_time,
			request_time
		) values
			<foreach collection="phoneNos" item="element" index="idx" separator=",">
			(
			 	#{element},
				#{callBackNo},
				#{msg},
				now(),
				#{sendDate}
			)
			</foreach>

	</insert>

	<insert id="insertMmsByBGF">
		insert into bgf_agent.MSG_QUEUE (
			msg_type,
			dstaddr,
			callback,
			subject,
			text,
			insert_time,
			request_time
		) values
		<foreach collection="phoneNos" item="element" index="idx" separator=",">
			(
				3,
				#{element},
				#{callBackNo},
				'',
				#{msg},
				now(),
				#{sendDate}
			)
		</foreach>
	</insert>

</mapper>